.ipet{
	top:40px;
	font-size:150px;
	position: absolute;
	left: 500px;
	color: #4CAF50;
}

.boton1{
	border-radius: 10px ;
	height: 40px;
	width: 200px;
	position: fixed;
}
.boton2{
	border-radius: 10px ;
	height: 40px;
	width: 200px;
	position: fixed;
	left:220px;
}
.boton3{
	border-radius: 10px ;
	height: 40px;
	width: 200px;
	position: fixed;
	left:440px;
}
.boton4{
	border-radius: 10px ;
	height: 40px;
	width: 200px;
	position: fixed;
	left:660px;
}
.collage {
	position: fixed;
	

}
.botonstart {
	height: 30px;
	width: 100px;
	border-radius: 4px;
	position: absolute;
	top: 500px;
	right: 670px;
	background-color: #4CAF50;
}
.txt1{
	position: absolute;
	top:300px;
	left:200px;
	color: #4CAF50;
	font-size: 40px;
}
.info {
	position: fixed;
	top:0px;
	right:100px;

}